*{ margin: 0;
padding: 0;
box-sizing: border-box;}

header nav { width: 1600px;
height: 92px;
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px;
background-color: #FFFFFF;
}
nav .manu{display: flex;
list-style-type: none;
gap: 32px; align-items: center;
}
nav .manu a{ height: 24px;
width: 365px;
color: #000000;
text-decoration: none;
}
.btn{background-color: #469165; color:#FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}
