*{ margin: 0;
padding: 0;
box-sizing: border-box;}

header nav { width: 1600px;
height: 92px;
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px;
background-color: #FFFFFF;
}
nav .manu{display: flex;
list-style-type: none;
gap: 32px; align-items: center;
}
nav .manu a{ height: 24px;
width: 365px;
color: #000000;
text-decoration: none;
}
.btn{background-color: #469165; color:#FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
} 
section{
    height: 674px;
    width: 1600px;
    padding: 70px 120px 134px 120px;
    gap: 40px;background: url(../First-Assignment/B13-A01-Knowledge-Vault/assets/hero-bg.png);
    color: #FFFFFF;}
.banar-content{ height: 379px;
width: 1360px;
gap: 32px;}
.text{height: 295px;
width: 1360;
gap: 16px;}
button{width: 229px;
height: 35px;
border: none;
border-radius: 1000px;
padding: 8px 12px;
gap: 6px;background-color:#FFFFFF;
font-size: 16px;font-style: medium;line-height: 100%;
text-align:center;
font-weight: 500;color: #469165;
justify-content: center;}
h1 span .text{width: 770px;
height: 168px;
opacity: 90%;
font-weight: 700;font-style: bold; font-size: 72px;line-height: 84px; text-align:center;
}p .text{ width: 1360px;
height: 60px;
font-weight: 400;font-style: normal;font-size: 18px;line-height: 24px;text-align: center;}
.btn .btn1{ width: 465px;
    height: 52px;
gap: 16px;}
.btn1{height: 52px;
width: 198px;border: 1px solid;border-radius: 4px;padding: 12px 16px;gap: 10px;color: #FFFFFF; background-color:none;}
h1 .text,p .text{color: #FFFFFF;}



