*{ margin: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
 nav { width:auto;
height: 92px;display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 80px;
background-color: #FFFFFF;
border-bottom: 1px solid #eee;}
.navlogo { height: 60px;
width: 139px;}
 .menu{ display:flex;
list-style-type: none;
gap: 32px; margin: 0;padding: 0;
color: #000000;}
.menu1{color: #000000;
text-decoration: none;font-size: 16px;font-weight: 500;}
.menu2{white-space: nowrap; color: #000000;
text-decoration: none;font-size: 16px;font-weight: 500;}
.menu3{white-space: nowrap; color: #000000;
text-decoration: none;font-size: 16px;font-weight: 500;}
.btn{background-color: #469165; color:#FFFFFF;
    padding: 12px 16px;
    border: none; justify-content: center;
    border-radius: 4px;display: flex; align-items: center;gap: 10px; cursor: pointer;} 
.header{height: 674px; white-space: nowrap;
    width:auto; padding: 70px 120px 134px 120px;  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png); background-size: cover;background-position: center;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.header1{ height: 379px;
width: 1200px; display: flex;flex-direction: column;align-items: center;
gap: 32px;}
.header2{ display: flex; text-align: center; flex-direction: column;align-items: center;}
.btn1{ display: flex;align-items: center; background-color: #FFFFFF; color:#469165; 
    padding: 8px 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 1000px; cursor: pointer;} 
    .img{width: 16px;
    height: 16px;}
 .text{width:auto;
height: 168px;
font-weight: 700; font-size: 72px;line-height: 84px; text-align:center;
display: block; color: #FFFFFF;
}
.text1{color: #469165; }
.text2{font-size: 18px;line-height: 24px;width: 800px; color: #FFFFFF;}
.header3{width:auto;height: 52px;gap: 16px; display: flex;align-items: center; justify-content: center; margin-top: 32px;}
.btn2{ background: none; color:#FFFFFF; gap: 10px;display: flex;
    padding: 12px 16px; border-color: #FFFFFF;
    border-radius: 4px; cursor: pointer; align-items: center; width: 185px;font-size: 16px;}
.img1{height: 20px;width: 20px;}
.img2{height: 20px;width: 20px;}
.app{width: 1600px;height: 448px;padding: 120px;white-space: nowrap;}
.app1{width: 1360px;height: 150px;display: flex;flex-direction: column;}
.apps{font-weight: 700;font-size: 48px;color: #001931;font-style:normal;text-align: center; width: 1360px;height: 80px;}
.text3{width: 1360px;height: 20px;font-weight: 400;font-style: normal;font-size: 16px;line-height: 20px;text-align: center;color: #627382;}
.otp{width: 1360px;height: 300px;gap: 24px; justify-content: space-between;display: flex;}
.box{width: 322px;height: 210px;border: none;border-radius: 8px;
padding: 24px;background-color: #FFFFFF; box-shadow:0 0 8px 0;}
.boximg{background-color: #F95555;height: 60px;width: 60px;border-radius: 50%; padding:15px;align-items: center; margin: 0 auto 14px auto;}
.boxtitle{font-weight: 600;font-size: 24px;line-height: 100%;color: #001931; align-items: center;text-align: center; padding-bottom: 10px;}
.boxtext{width: 274px;height: 40px;font-weight: 400;font-style: normal;font-size: 16px;line-height: 20px;color:#627382; text-align: center;}
.app2{width: 1600px;height: 840px;padding: 120px;gap: 40px;display: flex;justify-content: space-between;}
.app2text{width: 1360px;height: 600px;gap: 60px;display: flex;justify-content: space-between;}
.app2img{width: 600px;height: 600px;border: none;border-radius: 12px;}
.texts{width: 700px;height: 396px;margin-top: 100px;}
.texts1{width: 700px;height: 228px;white-space: nowrap;}
.thesolution{width: 700px;height: 20px;font-weight: 500;font-style: normal;font-size: 16px;line-height: 20px;color:#469165;}
.app2title{ width:700px;height: 116px;font-weight: 700;font-style: normal;font-size: 48px;line-height: 100%;color:#001931 ;}
.para{width: 700px;height: 60px;font-weight: 400;font-style: normal;font-size:16px;line-height: 20px;color: #627382;}
.lists{width: 700px;height: 128px; white-space: nowrap;}
.list{width: 700px;height: 20px;gap: 6px;display: flex;}
.app3{width: 100%;height: 506px;padding: 2px 120px 120px 120px;white-space: nowrap; text-align: center;}
.fullapp3{width: 1360px;height: 384px;border: none;border-radius: 12px;padding: 80px 40px;background-color: #F7F6F2;white-space: nowrap; text-align: center;}
.app3text{width: 1280px;height: 112px;white-space: nowrap; text-align: center;}
.app3title{width: 1280px;height: 48px;font-weight: 700;font-style: normal;font-size: 40px;line-height: 100%;color: #001931;}
.app3para{ width: 1280px;height: 48px;font-weight: 400;font-style: normal;font-size: 16px;line-height: 24px;color: #627382;}
.last{width: 1280px;height: 88px;white-space: nowrap;align-items: center; display: flex;flex-direction: column;}
.free{font-weight: 400;font-size: 16px;line-height: 50px;color: #627382;text-align: center;display: flex; justify-content: center;}
.footer{width:auto;height: 348px;border-top: 1px;padding: 120px 120px 30px 120px;gap: 80px;background-color: #001931;}
.social{width: 1360px;height: 64px;display: flex;justify-content: space-between;}
.footerimg{width: 139px;height: 60px;}
.sociallink{width: 220px;height: 64px;gap: 16px;}
.footertitle{width: 113px;height: 28px;font-weight: 500;font-size: 20px;line-height: 28px;color: #FFFFFF;}
.socialimg{width: 92px;height: 20px;white-space: nowrap;}
.copy{width: 1360px;height: 54px;white-space: nowrap; border-top: 1px solid #E5E7EB;padding-top: 20px; text-align: center;}
.copy1{font-weight: 400;font-size: 16px;line-height: 24px;align-items: center;color: #FAFAFA;text-align: center;}
